@import "tailwindcss";

.space-grotesk {
    font-family: var(--font-space-grotesk);
}

/* Custom utility classes using your variables */
@layer utilities {
    .background {
        background-color: #06031b;
        /* background-color: #0f172a; */
    }

    .text-primary {
        color: #f8fafc;
    }

    .text-accent {
        color: #f59e0b;
    }

    .text-secondary {
        color: #94a3b8;
    }

    .text-link {
        color: #3b82f6;
    }

    /* Hover states */
    .hover-accent:hover {
        color: #f59e0b;
    }

    .hover-link:hover {
        color: #3b82f6;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

.animate-marquee {
    display: flex;
    animation: marquee 20s linear infinite;
}
